


.signindiv{
    margin: 10px;
    width: 50vw;    
}
.textfield1{
    width: 50%; 
    height: 45px;
    margin-bottom: 100px !important;
}
.buttonb {
    background-color:#03A9F4 !important;
    color: white !important;
    border-radius: 50px !important;
    width: 60% !important;
}
.column{
    flex-direction: column;
}
.flex{
    display: flex;
}